<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='gaya.css')}}">
    <title>Document</title>
  </head>
  <body>
    <nav>
      <h1>List Data Mahasiswa</h1>
      <ul>
        <li><a href="{{ url_for('home')}}">Home</a></li>
        <li><a href="{{ url_for('tambahdata')}}">Tambah Data</a></li>
        <li><a href="{{ url_for('listdata')}}" class="active">List Data</a></li>
        <li><a href="{{ url_for('loginmhs')}}">Login</a></li>
      </ul>
    </nav>

    <div class="content">
      <table class="styled-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Tgl Lahir</th>
                <th>Jenis Kelamin</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>HILMI TOHIR</td>
                <td>LANDO/TERARA/LOTIM</td>
                <td>2022-11-11</td>
                <td>Laki-Laki</td>
                <td>HIL@GAMIL.COM</td> 
            </tr>
            <tr>
                <td>1</td>
                <td>HILMI TOHIR</td>
                <td>LANDO/TERARA/LOTIM</td>
                <td>2022-11-11</td>
                <td>Laki-Laki</td>
                <td>HIL@GAMIL.COM</td> 
            </tr>
            <tr>
                <td>1</td>
                <td>HILMI TOHIR</td>
                <td>LANDO/TERARA/LOTIM</td>
                <td>2022-11-11</td>
                <td>Laki-Laki</td>
                <td>HIL@GAMIL.COM</td> 
            </tr>
            <tr>
                <td>2</td>
                <td>HILMI TOHIR</td>
                <td>LANDO/TERARA/LOTIM</td>
                <td>2022-11-11</td>
                <td>Laki-Laki</td>
                <td>HIL@GAMIL.COM</td> 
            </tr>
            <tr>
                <td>3</td>
                <td>HILMI TOHIR</td>
                <td>LANDO/TERARA/LOTIM</td>
                <td>2022-11-11</td>
                <td>Laki-Laki</td>
                <td>HIL@GAMIL.COM</td> 
            </tr>
            <tr>
                <td>4</td>
                <td>HILMI TOHIR</td>
                <td>LANDO/TERARA/LOTIM</td>
                <td>2022-11-11</td>
                <td>Laki-Laki</td>
                <td>HIL@GAMIL.COM</td> 
            </tr>

        </tbody>
    </table>
      
    </div>
  </body>
</html>
